{% extends "a_base_object.twig" %}

{% import "placeholder_image.twig" as placeholder %}
{% import "text.twig" as text %}

{% block content %}

    <div class="{% if parent is not null %}{{ parent}}{% else %}{{ component_id }}{% endif %}__image">
        {{ placeholder.Image( Image) }}
    </div>

    <div class="{% if parent is not null %}{{ parent}}{% else %}{{ component_id }}{% endif %}__caption">
        {{ Image.caption | default(Faker('text',40)) }}
    </div>

{% endblock %}