{% extends "a_base_object.twig" %}

{% block content %}
    {% block leftcontent %}
        <div class="{{ component_id }}__left">{{ inline_svg() |raw }}</div>
    {% endblock %}

    {% block centercontent %}
        <div class="{{ component_id }}__center">{{ text | default(Faker('text',100)) }}</div>
    {% endblock %}

    {% block rightcontent %}
        <div class="{{ component_id }}__left">{{ inline_svg() |raw }}</div>
    {% endblock %}

{% endblock %}
