<{{ element | default('li') }} class="{{ component_id }} {{ styleModifier }}">

    {% block icon %}
        <span class="{{ component_id }}__icon">{{ inline_svg() |raw }}</span>
    {% endblock %}

    {% block item %}
        <span class="{{ component_id }}__content">{{ text | default(Faker('text',100)) }}</span>
    {% endblock %}

</{{ element | default('li') }}>