{% if href %}<a href="{{ href }}">{% endif %}
    {% if dimensions %}
            <img src="http://via.placeholder.com/{{ dimensions.width }}x{{ dimensions.height }}">
    {% elseif  width and height %}
            <img src="http://via.placeholder.com/{{ width }}x{{ height }}">
    {% else %}
        <img src="http://via.placeholder.com/500x400">
    {% endif %}

    {% if href %}</a>{% endif %}
