{% if href %}<a href="{{ href }}">{% endif %}
    {% if source == "blank"  %}
        <img alt="{{ alt }}" src="http://via.placeholder.com/{{ dimensions.width }}x{{ dimensions.height }}">
    {% elseif  (source == "fake") or (source == "dummy") or (source == false) %}
        <img src="{{ FakerImage(dimensions.width,dimensions.height) }}">
    {% else %}
        <img src="{{ source }}">
    {% endif %}
{% if href %}</a>{% endif %}
