<ul class="sg-colors">
	{% for key, color in baseColors %}
		<li class="sg-swatch swatch-color-{{ key }}">
			<span class="sg-color" style="background: {{ color }};"></span>
			<span class="sg-label">{{ key }}{{ color }}</span>
		</li>
    {% endfor %}
</ul>


<img src="{{ FakerImage(900,200)}}">
<img src="{{ Faker('imageUrl')}}">
{{ source('icon-dragon.svg') }}

{{ inline_svg('source/images/icons/icon-flame.svg') | raw }}
	{% for image in images_by_directory() %}

    {% endfor %}

